<?xml version="1.0" encoding="utf-8" ?>
<configuration status="WARN" monitorInterval="60">
    <Properties>
        <Properties>
            <Property name="baseDir"> /data/logs/testDemo</Property>
            <Property name="pattern">[%p]|%d{yyyy-MM-dd HH:mm:ss SSS}|%t|%C.%M(%L)|%m%n</Property>
        </Properties>
    </Properties>

    <Appenders>
        <!--这个输出控制台的配置，即System.out -->
        <Console name="console_out_appender" target="SYSTEM_OUT">
            <!-- 控制台只输出level及以上级别的信息(onMatch),其他的直接拒绝(onMismatch) . -->
            <ThresholdFilter level="INFO" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <!-- 输出日志的格式 -->
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
        </Console>


        <!-- INFO级别日志 -->
        <RollingFile name="info_appender" immediateFlush="true"
                     fileName="${baseDir}/stdout.log"
                     filePattern="${baseDir}/stdout - %d{yyyy-MM-dd HH:mm:ss}.log.gz">
            <PatternLayout>
                <pattern>${pattern}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="2MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <loggers>
        <!--使appender生效-->
        <!-- 配置日志的根节点 -->
        <!-- 定义logger，只有定义了logger并引入了appender，appender才会生效 -->
        <logger>
            <
        </logger>
        <root level="debug">
            <appender-ref ref="console_out_appender"/>
            <appender-ref ref="info_appender"/>
        </root>

    </loggers>
</configuration>